<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Edit User</title>	
	</head>
	<body>
		<form method="POST" action="{{ edit_url }}">
			<input type="hidden" name="key" value="{{ profile.key.urlsafe() }}">
			<fieldset>
				<legend>Update Profile</legend>
				<h3>Username:</h3> {{ profile.userID }} <input type="text" name="userID"><br />
				<h3>City:</h3> {{ profile.city }} <input type="text" name="city"><br />
				<h3>State:</h3> {{ profile.state }} <input type="text" name="state"><br />
				<h3>Team:</h3> {{ profile.team }}<br />
				<input type="radio" name="team" id="instinct" value="instinct" /> <label for="instinct">Instinct</label><br />
				<input type="radio" name="team" id="mystic" value="mystic" /> <label for="mystic">Mystic</label><br />
				<input type="radio" name="team" id="valor" value="valor" /> <label for="valor">Valor</label><br />
				<h3>Age:</h3> {{ profile.age }} <input type="number" name="age"><br />
				<input type="submit" value="Submit" class="submit_button">
			</fieldset>
			<input type="submit" value="Update">
		</form>
	</body>
</html>