<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Users</title>
</head>
<body>
	<div id="container">
		<h1>View Profiles</h1>
		<div id="profile-view">
		{% for u in userID %}
		<h3>userID:</h3> {{ u.userID }}<br />
		{% endfor %}
		{% for c in city %}
		City: {{ c.city }}<br />
		{% endfor %}
		{% for s in State %}
		State: {{ s.state }}<br />
		{% endfor %}
		{% for t in team %}
		Team: {{ t.team }}<br />
		{% endfor %}
		{% for a in age %}
		Age: {{ a.age }}<br />
		{% endfor %}
		</p>
		
		</div>
	</div>
</body>
</html>
